@font-face {
    font-family: burzum;
    src: url('GregorianFLF.ttf');
}
@font-face {
    font-family: normal;
    src: url('LEMONMILK-Regular.otf');
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: invisible;
    color: rgb(255, 255, 255);
    background-color: #1f1f1f;
    text-transform: capitalize;

}
button{
    padding:5px 10px ;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 150%;
}
h1{
    margin-left: 10px;
}



nav a {
    margin-top:50px;
    background-color: rgb(97, 96, 96) ;
    color: rgb(255, 255, 255);
    font-size: 50px;
    letter-spacing: 7px;
    text-decoration: none;
    margin: 0px 5%; 
    padding:5px 10px;
    text-transform: capitalize;
    font-family: burzum;
    
}

nav a:hover {
    background-color:grey;
    color: #b51f1f;
    font-size: 30px;
    font-family: normal;
    border-radius: 100%;
    padding: 20px;
    letter-spacing: 3px;
}
nav {
    background-color: rgb(97, 96, 96) ;
    text-align: center;
    margin-bottom: 20px;
    padding:20px 10px; 
   
} 
.contact {
    padding-left: 20px;
    text-transform: capitalize;
}
.gallery {
    width: 90%;
    margin: 10px auto;
    display: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    
}

.bigBoy {
    grid-column: 1/3;
    width: 100%;
}
.txt-box{
    margin-left: 700px;
    font-size: 100%;
    margin-top: 50px;
    font-family: normal;
}
.moosic {
    margin-left: 50px;
  
}
.moosic2 {
    margin-left: 1190px;
  
}
p{
    font-family: normal;
}
.txt-box-2 {
    margin-left: 600px;
    font-size: 100%;
    margin-top: 50px;
    font-family: normal;
}